*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    color: #2b2b2b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

/* resets */

a{
    text-decoration: none;
}

ul,ol,li{
    list-style-type: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: antiquewhite;
    height: 10%;
}

.menu{
    display: flex;
    gap: 1em;
}

/* .menu li{
    margin-right: 1em;
} */

.main{
    height: 80%;
    display: flex;

    background-color: rgb(190, 213, 255);
}

.main-img, .main-content{
    background-color: brown;
}
