*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

li,ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: beige;
}

.navlist{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
